# Compatible numpy version for tensorflow and others
numpy>=1.26.0,<=1.26.3  

# Specific versions for other dependencies
streamlit==1.50.0
pandas==2.3.3
# Updated thinc version to meet spacy's requirements
thinc>=8.1.8,<8.2.0  
tensorflow==2.20.0
scikit-learn==1.7.2
keras==3.11.3
spacy==3.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
